<section *ngIf="data && data.length; else elseBlock">
    <mat-card class="card" *ngFor="let dato of data" >
        <mat-card-content>
            <div class="flex-container">
                <div>
                    <mat-card-title>{{dato.name}}</mat-card-title>
                    <span>{{dato.weight}} gr</span>
                </div>
                <div>
                    <mat-icon class="clear-icon">clear</mat-icon>
                    <span>{{dato.kcal}} kcal</span>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</section>
<ng-template #elseBlock>
    <p>Add a new <br>food</p>
</ng-template>
