#add-circle-icon {
    color: #037E00;
    font-size: 2rem;
    width: fit-content;
    height: fit-content;
}

#subtitle-meal {
    font-family: 'Manrope';
    font-size: 2rem;
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
}