<table>
  <tr>
    <th id="title">Today</th>
    <td><mat-icon (click)="openDialog()" id="icon-create">create</mat-icon></td>
  </tr>
  <tr>
    <th>Goal</th>
    <td id="goal">{{goal}}</td>
  </tr>
  <tr>
    <td colspan="2"><mat-divider id="divider"></mat-divider></td>
  </tr>
  <tr>
    <th>Consumed</th>
    <td>{{totalCalories}}</td>
  </tr>
  <tr>
    <td colspan="2"><mat-divider id="divider"></mat-divider></td>
  </tr>
  <tr>
    <th>Total</th>
    <td>{{goal-totalCalories}}</td>
  </tr>
</table>
