<table>
  <tr>
    <th id="title">Today</th>
    <td><mat-icon (click)="openDialog()" id="icon-create">create</mat-icon></td>
  </tr>
  <tr>
    <th>Goal</th>
    <td id="goal">{{goal}} Kcal</td>
  </tr>
  <tr>
    <td colspan="2"><mat-divider id="divider"></mat-divider></td>
  </tr>
  <tr>
    <th>Consumed</th>
    <td>{{totalCalories}} Kcal</td>
  </tr>
  <tr>
    <td colspan="2"><mat-divider id="divider"></mat-divider></td>
  </tr>
  <tr>
    <th>Remaining</th>
    <td>{{goal-totalCalories}} Kcal</td>
  </tr>
</table>
