<div id="mymodal">
    <div>
        <h1 mat-dialog-title id="title">New Meal</h1>
        <div mat-dialog-content class="modal-content">
            <mat-form-field>
                <mat-label>Nombre</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Porción (gr)</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Kcal</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div mat-dialog-actions class="modal-actions">
        <button mat-button cdkFocusInitial>
            <mat-icon id="add-icon">add</mat-icon>
            Save
        </button>
        </div>
    </div>
</div>